<div class="container">
  <div class="font-header">Country quiz</div>
  <div *ngIf="scoreService.IsGameActive()" class="quiz-container">
    <img *ngIf="isFlagQuestion" [src]="flagUrl" class="flag">
    <div class="font-question question-bar">{{question}}</div>
    <app-button
        *ngFor="let answer of answers; index as i"
        (click) ="onCheckAnswer(answer)"
        [answer] ="answer"
        [letter] ="letters[i]"
      ></app-button>
    <div style="display: flex; justify-content: flex-end" (click)="onNext()">
      <div class="btn-text" *ngIf="isQuestionAnswered">
        <div style="align-self: center;text-align: center;">Next</div>
      </div>
    </div>

  </div>
  <div *ngIf="!scoreService.IsGameActive()"  class="quiz-container">
      <app-result></app-result>

  </div>
</div>
